.App {
  background-color: darkorange;
  width: 40vw;
  padding: 10px;
  margin:50px 30vw;
}
.Todo {
  color: white;
  text-align: center;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
input[type="text"] {
  padding: 5px 20px;
  width: 90%;
  margin: unset calc(10% / 2);
  outline-color: orange;
}
#submit {
  /* border-style: solid; */
  background-color: orange;
  padding: 5px 20px;
  font-family: Arial, Helvetica, sans-serif;
  width: 100%;
}